{% extends 'web1/base.html' %}

{% block content %}

    <p>Topic: {{ topic }}</p>

    <p>Entries:</p>
    <p>
        <a href="{% url 'web1:new_entry' topic.id %}">add new entry</a>
    </p>
    <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
                <!--In Django templates, a vertical line ( | ) represents a
                template filter —a function that modifies the value in a
                template variable.-->
                <p>{{ entry.text|linebreaks }}</p>
                <p>
                    <a href="{% url 'web1:edit_entry' entry.id %}">edit entry</a>
                </p>
            </li>
        {% empty %}
            <li>
                There are no entries for this topic yet.
            </li>
        {% endfor %}
    </ul>

{% endblock content %}